.card4{
    margin: auto;
    width: 72.266vw;
    border-radius: 2.344vw;
    border: 2px solid #1B74E4;
    background-color: #fff;
    height: auto;
    padding: 1.406vw 2.734vw 2.734vw 2.734vw;
}
.profil4{
    float:left;
    width: 2.813vw;
    margin-right: 1.172vw;
}
.namauser4{
    color: #1B74E4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.344vw;
    margin-top: 0.2vw;
}
.boxstatus4{
    margin-top: 1.563vw;
    background-color: #F0F2F5;
    padding: 1.172vw;
    border-radius: 1.563vw;
    border: 0.078vw #1B74E4 solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.563vw;
    font-weight: bold;
    text-align: justify;
}
.simbolkomen4{
    border: 2px solid #1B74E4;
    border-radius: 25px;
    height: 2.344vw;
    width: 100%;
    font-size: 1.563vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B74E4;
    font-weight: bold;
    text-align: center;
    line-height: 2.344vw;
    margin-top: 1.484vw;
}
.input4{
    width: 69vw !important;
    height: 3.125vw;
    font-size: 1.563vw;
    background-color: #F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
    border: #1B74E4 1px solid;
    margin-top: 1.953vw;
    border-radius: 1.563vw;
}
.posting4{
    height: 2.422vw;
    width: 12.578vw;
    border: 2px solid #1B74E4;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.563vw;
    color:#fff;
    background-color: #1B74E4;
    margin-left: 81%;
    margin-top: 1.172vw;
}
.komen4{
    margin-top: 1.563vw;
    background-color: #F0F2F5;
    padding: 0.781vw 1.172vw 0.781vw 1.172vw;
    border-radius: 1.563vw;
    border: 0.078vw #1B74E4 solid;
    font-family: Arial, Helvetica, sans-serif;
}
.namakomentator4{
    font-size: 2.344vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #1B74E4;
    margin: 0.234vw;
}
.kontenkomen4{
    font-size: 1.563vw;
    font-weight: bold;
    text-align: justify;
    margin-top: 1.172vw;
}