.navbar{
    background-color: #1B74E4;
    width: 100%;
    height: auto;
    padding: 0.742vw 5.078vw 0.742vw 5.078vw;
    height: 4vw;
}


.keluar{
    width: 2.891vw;
    float: left;
    margin-top:0.273vw;
}
.tengah{
    margin: 0;
}
.subjek1{
    font-size: 1.953vw !important;
    color: #fff !important;
    float: left;
    margin-top: 0.703vw;
    margin-bottom: 0;
}
p{
    color: #fff;
    font-size: 1.563vw;
    margin-left: 22.344vw;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
}
.appLogoPutih{
    margin-left: 34.972vw;
    width: 2.969vw;
    float: left;
    margin-right: 0.781vw;
    margin-top: 0.391vw;
}
.profil{
    width: 3.125vw;
    margin-top: 0.313vw;
    margin-left: 1.250vw;
}
/* @media (max-width: 600px) {
    .navbar{
        height: max-content;
    }
    .profil{
        width: 7vw;
    }
    .keluar{
        width: 7vw;
        margin-left: 10%;
    }
    .appLogoPutih{
        width: 7vw;
        float: left;
        margin-left: 4vw;
        margin-right: 0.781vw;
        margin-top: 0.391vw;
    }
    .subjek1{
        font-size: 4vw;
    }
    p{
        color: #fff;
        font-size: 3vw;
        margin-left: 4vw;

    }
} */