.kontainer{
    background-color:#F0F2F5;
    padding-top: 3.125vw;
}

.appLogo{
    width: 4.453vw;
    float: left;
    margin-left: 3.125vw;
    margin-right: 6.621vw;
}
.daftar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.688vw;
    color:#1B74E4;
    margin-top: 0;
}

.input{
    width: 72.266vw;
    height: 5.938vw;
    margin-left: 13.835vw;
    border: #1B74E4 2px solid;
    border-radius: 25px;
    margin-bottom: 2.578vw;
    font-size: 3.125vw;
    font-family: Arial, Helvetica, sans-serif;
}
.tombol{
    width: 29.453vw;
    height: 4.297vw;
    background-color: #1B74E4;
    color: #fff;
    border-radius: 25px;
    margin-left:35.234vw ;
    font-size: 3.125vw;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:600px) {
    .kontener{
        display: flex;
        flex-direction: column;
    }
    .daftar{
        display: flex;
        align-items: center;
        float: none;
        font-size: 12vw;
        
    }
    .appLogo{
        display: flex;
        align-items: center;
        width: 20vw;
        float: none;
        margin: auto;
    }
    .input{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
    }
    .tombol{
        height: auto;
    }
}