.kontainer{
    background-color:#F0F2F5;
    padding-top: 3.125vw;
}

.appLogo{
    width: 4.453vw;
    float: left;
    margin-left: 3.125vw;
    margin-right: 6.621vw;
}
.daftar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.688vw;
    color:#1B74E4;
    margin-top: 0;
}

.input{
    width: 72.266vw;
    height: 5.938vw;
    margin-left: 13.835vw;
    border: #1B74E4 2px solid;
    border-radius: 25px;
    margin-bottom: 2.578vw;
    font-size: 3.125vw;
    font-family: Arial, Helvetica, sans-serif;
}
.tombol{
    width: 29.453vw;
    height: 4.297vw;
    background-color: #1B74E4;
    color: #fff;
    border-radius: 25px;
    margin-left:35.234vw ;
    font-size: 3.125vw;
    font-family: Arial, Helvetica, sans-serif;
    border: #1B74E4 2px solid;
}
.tombol:hover{
    -webkit-box-shadow: inset -0.078vw -0.078vw 1.172vw 0.469vw #F0F2F5; 
    box-shadow: inset -0.078vw -0.078vw 1.172vw 0.469vw #F0F2F5;
}

@media (max-width:600px) {
    .kontener{
        display: flex;
        flex-direction: column;
    }
    .daftar{
        display: flex;
        align-items: center;
        float: none;
        font-size: 12vw;
        
    }
    .appLogo{
        display: flex;
        align-items: center;
        width: 20vw;
        float: none;
        margin: auto;
    }
    .form{
        margin-top: 1.953vw;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input{
        width: 44.297vw;
        height: 4vw;
        border: 2px solid #1B74E4;
        border-radius: 1.953vw;
        margin-bottom: 1.953vw;
        font-size: 3.125vw;
        font-family: Arial, Helvetica, sans-serif;
        color:#1B74E4;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        height: 7vw;
    }
    .tombol{
        height: auto;
        margin: 0;
    }
}